html, body{
    height: 100%;
    text-align: center;
    /* background-color: #FF00FF; */
    /* vertical-align: middle; */
}


/* #stop-start-div{
    position: absolute;
} */


#slider-parent{
    position: absolute;
    /* display:flex; */    
    margin-top: -1rem; /* margin is half the height of the slider */
    top: 50%;
    width:75%;
    left: 12.5%;
    z-index: 100;
    /* background-color: black; */
}


#slider {
    -webkit-appearance: none;
    /* position: relative; */
    /* top:-1rem; */
    /* background-color:green; */
    background: #ffffff;
    /* line-height: 100%; */
    width:100%;
    /* vertical-align: middle; */
    /* margin-left: 5px; */
    /* height: 1rem; height of the bar the "thumb" slides on */
    height: 1.8rem;
    border-radius: 7px;
    background: #ffffff;
    /* outline: none; */
    opacity: 0.90;
    /* -webkit-transition: .2s;
    transition: opacity .2s;     */


}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5rem;
    height: 3rem;
    border-radius: 25%;
    background: #0051ff;
    cursor: pointer;
}
  
#slider::-moz-range-thumb {
    width: 1.5rem;
    height: 3rem;
    border-radius: 25%;
    background: #4CAF50;
    cursor: pointer;
}





a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: default;
    padding: 0.8rem;
    line-height: 2rem;
    color: white;

    /* this will make the text unable to be highlighted / selected */
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}



.linkDiv {
    position: absolute;
    margin: 20px;
    z-index: 1;
    /* background-color: black; */
}

.linkDiv.analytics{
    /* position: relative; */
    /* font-size: 5rem; */
    top: 80%; 
    left: 10%;
}


.linkDiv.bikelapse{
    /* position: relative; */
    /* font-size: 5rem; */
    top: 90%; 
    right: 10%;
}

.linkDiv.silverspoon360{
    /* position: absolute; */
    /* font-size: 5rem; */
    top: 10%; 
    right: 10%;
}

.linkDiv.webmidiaudiosync{
    /* position: absolute; */
    /* font-size: 5rem; */
    top: 20%; 
    left: 10%;
}


.linkDiv.turnerkirk{
    /* position: absolute; */
    /* font-size: 5rem; */
    top: 5%; 
    left: 10%;
}